.panel .menu {
    position: absolute;
    background: #181d20;
    color: #cccccc;
    width: 240px;
    height: 100%;
    top: 0px;
    left: 0px;
}

.panel .menu .logo {
    text-align: center;
    padding: 2em;
    margin-top: 1em;
}

.panel .menu .logo i:nth-child(2) {
    color: #57889c;
}

.panel .menu .logo img {
    width: 50px;
}

.node i {
    font-size: 16px;
    color: #a6a6a6;
    padding-left:1em;
}

.node span {
    color: #848788;
    padding-left: 1.4em;
}

.node a span:hover {
    color: #FFF;
}

.node a {
    text-decoration: none;
    font-size: 13px;
    text-decoration: none;
    display: block;
    padding: 0.8em;
}

.child a {
    margin: 5px 0px 5px 0px;
}

.active, .active span {
    background: #d95043;
    color: #FFF;
}