.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    display: block;
}

.clear::after {
    display: block;
    clear: both;
    content: '';
}

.clear{
    zoom: 1;
}