body {
    margin: 0px;
    padding: 0px;
    background: url(/images/bg_blue.png);
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover; /* 兼容Webkit内核浏览器如Chrome和Safari */
    -o-background-size: cover; /* 兼容Opera */
    font: 12px/1.5 "Microsoft YaHei", tahoma, arial, Hiragino Sans GB,
    \5b8b\4f53;
}

nav, ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#head {
    width: 100%;
}

#head div {
    background: #FFF;
}

#head div > a {
    text-decoration: none;
    padding: 10px;
    margin-right: 4.4em;
}

#head div > a img {
    width: 220px;
    height: 80px;
    border: 0px;
}

#head div.user {
    width: 200px;
    margin: 10px;
}

#left {
    width: 220px;
    /*border: 1px solid rebeccapurple;*/
}

.big_title {
    margin-top: 2.2em;
    display: inline;
}

.big_menu {

}

.big_menu li {
    margin: 0px 10px;
    float: left;
}

.big_menu a {
    margin-top: 2.7em;
    display: inline;
    font-family: "Ek Mukta", sans-serif;
    font-weight: 600;
    font-size: 1.14em;
    padding: 0 0.90625em 0.125em;
    color: #647980;
    transition: 0.2s color ease-out, 0.2s background-color ease-out;
    background: no-repeat right 57px;
}

.big_menu li > a {
    display: block;

    text-decoration: none;
    background-image: url(/images/arrow-menu.svg);
    background-repeat: no-repeat;
    background-position: right 8px;
}

