body {
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
.authcenter-background {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}
.authcenter-bg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    transition: opacity .8s ease;
}
.authcenter-bg-show {
    opacity: 1;
    filter: alpha(opacity=100);
}

.floatRight{
    float:right;
}